:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #FFFFFF;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #06273D;
    --bs-secondary: #00405B;
    --bs-success: #1DBE00;
    --bs-warning: #DF7800;
    --bs-danger: #f32b3d;
    --bs-gray-light: #C5C5C5;
    --bs-gray-lighter: #E8E8E8;
    --bs-gray-dark: #717171;
    --bs-tertia: #6c757d;
    --bs-white: #FFFFFF;
    --bs-azure: #00969F;
    --bs-blue: #0968C0;
    --bs-light-blue: #0086D5;
    --bs-green: #008F28;
    --bs-green-darker: #1B8D00;
    --bs-green-light: #C5D9D5;
    --bs-green-lighter: #E3FFE6;
    --bs-golden: #ECD61F;
    --bs-red-light: #FF0000;
    --bs-brown: #993503;
    --bs-brown-light: #E2D1A6;
    --bs-regular: #0D709B;
    --bs-cyan: #BEDAE5;
    --bs-cloud: #F5F9FF;
    --bs-primary-rgb: 6, 39, 61;
    --bs-secondary-rgb: 0, 64, 91;
    --bs-success-rgb: 29, 190, 0;
    --bs-warning-rgb: 223, 120, 0;
    --bs-danger-rgb: 243, 43, 61;
    --bs-gray-light-rgb: 197, 197, 197;
    --bs-gray-lighter-rgb: 232, 232, 232;
    --bs-gray-dark-rgb: 113, 113, 113;
    --bs-tertia-rgb: 108, 117, 125;
    --bs-white-rgb: 255, 255, 255;
    --bs-azure-rgb: 0, 150, 159;
    --bs-blue-rgb: 9, 104, 192;
    --bs-light-blue-rgb: 0, 134, 213;
    --bs-green-rgb: 0, 143, 40;
    --bs-green-darker-rgb: 27, 141, 0;
    --bs-green-light-rgb: 197, 217, 213;
    --bs-green-lighter-rgb: 227, 255, 230;
    --bs-golden-rgb: 236, 214, 31;
    --bs-red-light-rgb: 255, 0, 0;
    --bs-brown-rgb: 153, 53, 3;
    --bs-brown-light-rgb: 226, 209, 166;
    --bs-regular-rgb: 13, 112, 155;
    --bs-cyan-rgb: 190, 218, 229;
    --bs-cloud-rgb: 245, 249, 255;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;   
    --bs-body-font-family: Open Sans;
    --bs-body-font-size: 0.875rem;
    --bs-body-font-weight: 600;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #FFFFFF;
}